@media(max-width: 670px) {
    .header {
        font-size: 22px;
    }

    .container{
        width: 100%;
    }

    #target, #result {
        margin-bottom: 25px;
    }

    #start, #stop {
        width: 45%;
    }
}
